body{
  background-color:#EEEEEE;
  font-family:sans-serif;
  color:#333333;
}
#title,#cap{
  text-align:center;
  line-height:1.6;
}
.timeline{
  margin-top:20px;
  margin-bottom:20px;
  padding-top: 20px;
  padding-bottom:20px;
}
#img-div{
  background-color: white;
  justify-content:center;
  text-align:center;
}
img{
  display: block;
  margin:auto;
}
#image{
  max-width:100%;
  height:auto;
}
ul ,#prime{
  margin:0 auto 50px auto;
  max-width:550px;
  text-align:left;
  line-height:1.6;
}
li{
  margin:16px 0;
}
#year{
  font-weight:600;
}
